@font-face {
    font-family: "LotusTitle";
    src: url("../assets/fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "LotusText";
    src: url("../assets/fonts/DMSans_18pt-Regular.ttf");
}


body {
    font-family: "LotusText", sans-serif;
}


h1, h2 {
    font-family: "LotusTitle", serif;
}